#headerwrap
  .container
    .row.centered
      .col-lg-12
        %h1 Stephen Lead
        %h3 I like maps and taking photos of things

%section{:id => "about", :name => "about"} 
#intro
  .container
    .row
      .col-lg-2.col-lg-offset-1
        %h4 ABOUT
      .col-lg-6
        %p I'm web designer & front-end developer with 7 years of professional experience. I'm interested in all kinds of visual communication, but my major focus is on designing web, mobile & tablet interfaces. I also have skills in other fields like branding, icon design or web development.
      .col-lg-3
        %p
          = link_to "https://twitter.com/stephenlead" do
            %i.fa.fa-file-o
            Download resume

%section{:id => "articles", :name => "articles"} 
  .container.desc
    .row
      .col-lg-2.col-lg-offset-1
        %h4
          =link_to "ARTICLES", posts_path
      .col-lg-8
        -@posts.each do |post|
          %h5.title=link_to post.title, post
          %p.date
            = time_ago_in_words(post.created_at)
            ago
          %p.summary= truncate(post.content, length: 150)
          %p.more=link_to "more", post
        %p.more= link_to "See all articles", posts_path

%section{:id => "projects", :name => "projects"} 
  .container.desc
    .row
      .col-lg-2.col-lg-offset-1
        %h4
          =link_to "PROJECTS", projects_path
      .col-lg-8
        -@projects.each do |project|
          %h5.title=link_to project.title, project
          %p.date
            = time_ago_in_words(project.created_at)
            ago
          %p.summary= truncate(project.description, length: 150)
          %p.more=link_to "more", project
        %p.more= link_to "See all projects", projects_path

%section{:id => "presentations", :name => "presentations"} 
  .container.desc
    .row
      .col-lg-2.col-lg-offset-1
        %h4
          =link_to "PRESENTATIONS", presentations_path
      .col-lg-8
        -@presentations.each do |presentation|
          %h5.title=link_to presentation.title, presentation
          %p.date
            = time_ago_in_words(presentation.created_at)
            ago
          %p.summary= truncate(presentation.description, length: 150)
        %p.more= link_to "See all presentations", presentations_path