#headerwrap
  .container
    .row.centered.top-100
      .col-lg-12
        %h3 Hello, my name is
        %h1 Stephen Lead
        %h3 I like maps, code, presentations and demos

%section{:id => "about", :name => "about"} 
#intro
  .container
    .row
      .col-lg-2.col-lg-offset-1
        %h4 ABOUT
      .col-lg-6
        %p I'm a GIS expert, specialising in ArcGIS Desktop and ArcGIS Server, including building enterprise applications on the ArcGIS Server JS API. I also develop in Python, JavaScript and Rails. In my spare time I take lots of photos, ride my bike, and organise public speaking events.
      .col-lg-3
        %p
          = link_to "http://stephenlead.com/StephenLead.pdf" do
            %i.fa.fa-file-o
            Download resume

%section{:id => "articles", :name => "articles"} 
  .container.desc
    .row
      .col-lg-2.col-lg-offset-1
        %h4
          =link_to "ARTICLES", posts_path
      .col-lg-8
        -@posts.each do |post|
          %h5.title=link_to post.title, post
          %p.date
            = time_ago_in_words(post.created_at)
            ago
          %p.summary
            =truncate(post.content, length: 150)
            %span.readmore= link_to "more", post
          %hr
        %p.more= link_to "See all articles", posts_path

%section{:id => "projects", :name => "projects"} 
  .container.desc
    .row
      .col-lg-2.col-lg-offset-1
        %h4
          =link_to "PROJECTS", projects_path
    -@projects.each do |project|
      .row
        .col-lg-3.col-lg-offset-3
          - if project.image?
            =image_tag project.image, {:class => "shadow"}
        .col-lg-6
          %h5.title=link_to project.title, project
          %p.date
            = time_ago_in_words(project.created_at)
            ago
          %p.summary
            =truncate(project.description, length: 150)
            %span.readmore= link_to "more", project
    .row
      .col-lg-6.col-lg-offset-3
        %p.more= link_to "See all projects", projects_path

%section{:id => "presentations", :name => "presentations"} 
  .container.desc
    .row
      .col-lg-2.col-lg-offset-1
        %h4
          =link_to "PRESENTATIONS", presentations_path
      .col-lg-8
        -@presentations.each do |presentation|
          %h5.title=link_to presentation.title, presentation
          %p.date
            = time_ago_in_words(presentation.created_at)
            ago
          %p.summary= presentation.description
          %iframe{:src => presentation.url, :width => "400", :height => "225"}
        %p.more= link_to "See all presentations", presentations_path