.section.group#presentations
  .col.span_1_of_4
  .col.span_2_of_4
    .content.single_presentation
      %h4= @presentation.title
      %p= markdown @presentation.content
    = link_to presentations_path, class: "btn" do
      %i.fa.fa-angle-double-left.highlight
      Back to articles

      - if user_signed_in? && @presentation.user_id == current_user.id
        = link_to edit_presentation_path(@presentation), class: "light btn-edit" do
          %i.fa.fa-pencil-square-o
        = link_to presentation_path(@presentation), method: :delete, class: "light btn-delete", data: {confirm: "Are you sure you want to delete this presentation?"} do
          %i.fa.fa-times