.container.top-50
  - @projects.each do |project|
    .row
      .col-lg-8.col-lg-offset-2
        .project.content
          %h4.title= link_to project.title, project
          %span.date
            = time_ago_in_words(project.created_at)
            ago
          .content
            %p
              =truncate(project.description, length: 150)
              %span.readmore= link_to "more", project
          %hr

- if user_signed_in?
  #me
    = link_to destroy_user_session_path, method: :delete, class: "light btn-user" do
      %i.fa.fa-user
    = link_to new_project_path, class: "light btn-edit" do
      %i.fa.fa-pencil-square-o