.container.top-100
  - @projects.each do |project|
    .row.top-50
      .col-lg-4.col-lg-offset-1
        - if project.image?
          = link_to project.url do
            =image_tag project.image, {:class => "shadow"}  
      .col-lg-6.col-lg-offset-1
        .project.content
          %h4.title= link_to project.title, project.url
          %span.date
            = time_ago_in_words(project.created_at)
            ago
          .content
            %p
              =truncate(project.description, length: 250)
              %span.readmore= link_to "more", project
    %hr

- if user_signed_in?
  #me
    = link_to destroy_user_session_path, method: :delete, class: "light btn-user" do
      %i.fa.fa-user
    = link_to new_project_path, class: "light btn-edit" do
      %i.fa.fa-pencil-square-o