.container
  .row.top-100
    .col-lg-2.top-50
      =image_tag @project.image
    .col-lg-8.col-lg-offset-1
      .content.single_project
        %h4.title
          = @project.title
          %span.readmore= link_to "visit site", @project.url
        %p= markdown @project.description

      = link_to projects_path, class: "btn" do
        %i.fa.fa-angle-double-left.highlight
        Back to projects

        - if user_signed_in? && @project.user_id == current_user.id
          #me
            = link_to edit_project_path(@project), class: "light btn-edit" do
              %i.fa.fa-pencil-square-o
            = link_to project_path(@project), method: :delete, class: "light btn-delete", data: {confirm: "Are you sure you want to delete this project?"} do
              %i.fa.fa-times