!!!
%html
  %head
    %meta{'charset' => 'utf-8'}/
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1.0'}/
    %meta{'description' => 'lorem ipsum'}/
    %meta{'author' => 'Stephen lead'}/


    %title Stephen Lead - Developer and GIS specialist
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Raleway:300,400,700"}
    %link{rel: "shortcut icon", href: "/img/favicon.ico"}
    = csrf_meta_tags
  %body{ :data => {:spy => "scroll", :offset => "0", :target => "#nav"}}
    #section-topbar
      #topbar-inner
        .container
          .row
            .dropdown
              %ul#nav.nav
                %li.menu-item
                  =link_to "Home", root_path
                  =nav_link "Articles", posts_path
                  =nav_link "Projects", projects_path
                  =nav_link "Presentations", presentations_path
                  / =nav_link "Contact", contact_path
            .clear                  

    .notifications
    - if notice
      #notice_wrapper
        %p.alert.alert-dismissable= notice
        %span.close{type: "button", data: {dismiss:"alert"}}
          %i.fa.fa-times
    - elsif alert
      #alert_wrapper
        %p.alert.alert-dismissable= alert
        %span.close{type: "button", data: {dismiss:"alert"}}
          %i.fa.fa-times

    = yield

%section{:id => "contact", :name => "contact"}
#footwrap
  .container
    .row
      .col-lg-2.col-lg-offset-1
        %h4 CONTACT
      .col-lg-3.col-lg-offset-6
        %p
          = link_to "https://twitter.com/stephenlead" do
            %i.fa.fa-twitter
          = link_to "https://au.linkedin.com/in/stephenlead" do
            %i.fa.fa-linkedin
          = link_to "https://plus.google.com/u/0/+StephenLead" do
            %i.fa.fa-google-plus
          = link_to "https://www.flickr.com/photos/passenger57/albums" do
            %i.fa.fa-flickr

