!!!
%html
  %head
    %title Unicasts Blog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{rel: "stylesheet", href: "http://fonts.googleapis.com/css?family=Raleway:400,700"}
    = csrf_meta_tags
  %body
    .section.group
      .col.span_4_of_4
        %header#main_header.col.span_4_of_4
          .content
            = link_to "Your name", root_path,  {class: "name"}
            %nav 
              =nav_link "Articles", posts_path
              =nav_link "Projects", projects_path
              =nav_link "Contact", contact_path

    .notifications
    - if notice
      #notice_wrapper
        %p.alert.alert-dismissable= notice
        %span.close{type: "button", data: {dismiss:"alert"}}
          %i.fa.fa-times
    - elsif alert
      #alert_wrapper
        %p.alert.alert-dismissable= alert
        %span.close{type: "button", data: {dismiss:"alert"}}
          %i.fa.fa-times

    = yield

  %footer#main_footer
    %p.copyright &copy; 2015 Your Name
    %nav.social 
      = link_to "#" do
        %i.fa.fa-twitter
      = link_to "#" do
        %i.fa.fa-linkedin, 
      = link_to "#" do
        %i.fa.fa-google-plus